html,
body,
#root,
#map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.control {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  margin: 12px;
  border-radius: 4px;
}

.left-control {
  top: 0;
  left: 0;

}

.right-control {
  top: 0;
  right: 0;

}