/* code {
  counter-reset: line;
}
code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
} */

pre[data-theme*=" "],
pre.shiki-themes {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}
:is(pre[data-theme*=" "], pre.shiki-themes) :is(:scope, span) {
  color: var(--shiki-light);
}

body.dark :is(pre[data-theme*=" "], pre.shiki-themes) {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}
body.dark :is(pre[data-theme*=" "], pre.shiki-themes) :is(:scope, span) {
  color: var(--shiki-dark);
}

:is(pre, .dark pre) span[data-highlighted-line] {
  @apply bg-gray-1 dark:bg-gray-7/10;
}

:is(pre, .dark pre)
  span[data-highlighted-line][data-highlighted-line-id="delete"] {
  @apply bg-red-1/50 dark:bg-red-1/10;
}

:is(pre, .dark pre)
  span[data-highlighted-line][data-highlighted-line-id="add"] {
  @apply bg-green-1/50 dark:bg-green-1/10;
}
